// ES5
function doSomething(wasError) {
  // at this point, errorMessage is declared, due to hoisting, but not defined
  console.log(errorMessage); // undefined

  if (wasError) {
    var errorMessage = "Something broke";
  }

  console.log(errorMessage); // "Something broke"
}
